@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center pt-5 mt-5">
    <div>
        <h1 class="text-danger">E - AUCTION <span class="text-purple">PORTAL</span></h1>
    </div>
</div>
